
.ps-cart {
	padding-top:2%;
  line-height: 90px;
  position: relative;
  display: inline-block; }
  .ps-cart__toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .ps-cart__toggle i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: #fff; }
    .ps-cart__toggle span {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      font-size: 10px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background-color: #ec1d25; }
      .ps-cart__toggle span i {
        font-size: 10px;
        font-style: normal; }
    .ps-cart__toggle:hover {
      background-color: #ec1d25; }
  .ps-cart__listing {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background-color: #313645;
    z-index: 1000;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%); }
  .ps-cart__content {
    padding-top: 10px; }
  .ps-cart__total {
    border-top: 1px solid #525a71;
    padding: 15px; }
    .ps-cart__total p {
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      color: #fff; }
      .ps-cart__total p span {
        float: right;
        font-weight: 600;
        letter-spacing: .05em; }
  .ps-cart .ps-cart__footer {
    line-height: 3em;
    background-color: #ee464c;
      text-align: center; }
    .ps-cart .ps-cart__footer a.ps-btn {
      width: 100%;
      color:white;
  		text-transform: uppercase;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .ps-cart .ps-cart__footer a.ps-btn i {
        position: relative;
        top: 2px;
        font-size: inherit; }
      .ps-cart .ps-cart__footer a.ps-btn:before {
        display: none; }
  .ps-cart:hover .ps-cart__listing {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  @media (max-width: 1400px) {
    .ps-cart {
      position: relative; }
      .ps-cart .ps-cart__listing {
        left: auto;
        right: 0;
        -webkit-transform: translate(0, 30px);
        -moz-transform: translate(0, 30px);
        -ms-transform: translate(0, 30px);
        -o-transform: translate(0, 30px);
        transform: translate(0, 30px); }
        .ps-cart .ps-cart__listing:before {
          display: none; }
      .ps-cart:hover .ps-cart__listing {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); } }
  @media (max-width: 479px) {
    .ps-cart .ps-cart__listing {
      width: 300px;
      right: -55px; } }

.ps-cart-item {
  padding: 15px 10px;
  position: relative;
  border-bottom: 1px solid #525a71; }
  .ps-cart-item::after {
    clear: both;
    content: "";
    display: table; }
  .ps-cart-item__thumbnail {
    display: block;
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden; }
    .ps-cart-item__thumbnail > img {
      vertical-align: top;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .ps-cart-item__thumbnail > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .ps-cart-item__thumbnail:hover > img {
      -webkit-transform: rodtatscale(1.2, 1.2);
      -moz-transform: rodtatscale(1.2, 1.2);
      -ms-transform: rodtatscale(1.2, 1.2);
      -o-transform: rodtatscale(1.2, 1.2);
      transform: rodtatscale(1.2, 1.2); }
    .ps-cart-item__thumbnail:hover > a {
      background-color: rgba(42, 195, 125, 0.5); }
  .ps-cart-item__title {
    display: block;
    margin-bottom: 10px;
    font-family: "Archivo Narrow", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: left;
    color: #fff; }
    .ps-cart-item__title:hover {
      color: #ec1d25; }
  .ps-cart-item__content {
    float: left;
    width: calc(100% - 60px);
    padding-left: 15px; }
    .ps-cart-item__content p {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      line-height: 1.43;
      color: #999; }
      .ps-cart-item__content p span {
        margin-right: 25px; }
      .ps-cart-item__content p i {
        font-style: normal;
        color: #fff;
        margin-left: 8px; }
  .ps-cart-item .ps-cart-item__close {
    display: block;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 16px;
    height: 16px;
    background-color: #999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    z-index: 1000; }
    .ps-cart-item .ps-cart-item__close:before, .ps-cart-item .ps-cart-item__close:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 1px;
      background-color: #fff;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .ps-cart-item .ps-cart-item__close:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
    .ps-cart-item .ps-cart-item__close:hover {
      background-color: #ec1d25; }
  .ps-cart-item:last-child {
    border-bottom: none; }

    
.ps-cart-listing .ps-cart__table thead > tr > th {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #515356;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5; }

.ps-cart-listing .ps-cart__table tbody > tr > td {
  vertical-align: top;
  padding: 30px 10px; }

.ps-cart-listing .ps-cart__actions {
  padding-top: 55px;
  border-top: solid 1px #e5e5e5;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .ps-cart-listing .ps-cart__actions .ps-cart__promotion {
    min-width: calc(100% - 350px);
    width: calc(100% - 350px); }
    .ps-cart-listing .ps-cart__actions .ps-cart__promotion .form-group {
      max-width: 290px; }
    .ps-cart-listing .ps-cart__actions .ps-cart__promotion .form-control {
      margin-bottom: 20px;
      height: 45px;
      border-color: #d9d9d9;
      background-color: #fff;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      border-radius: 45px; }
    .ps-cart-listing .ps-cart__actions .ps-cart__promotion .ps-btn {
      width: 100%; }
  .ps-cart-listing .ps-cart__actions .ps-cart__total {
    border-top: none; }
    .ps-cart-listing .ps-cart__actions .ps-cart__total h3 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #515356;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 30px; }
      .ps-cart-listing .ps-cart__actions .ps-cart__total h3 span {
        float: right;
        font-size: 24px;
        color: #8d8d8d;
        vertical-align: middle; }

@media (max-width: 991px) {
  .ps-cart-listing .ps-cart__table {
    display: block;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto; }
    .ps-cart-listing .ps-cart__table tbody > tr > td:first-child {
      min-width: 300px; }
    .ps-cart-listing .ps-cart__table tbody > tr > td:nth-child(3) {
      min-width: 300px; } }

@media (max-width: 767px) {
  .ps-cart-listing .ps-cart__actions {
    display: block; }
    .ps-cart-listing .ps-cart__actions::after {
      clear: both;
      content: "";
      display: table; }
    .ps-cart-listing .ps-cart__actions .ps-cart__promotion {
      width: 100%;
      min-width: 0;
      max-width: 400px; }
      .ps-cart-listing .ps-cart__actions .ps-cart__promotion .form-group {
        max-width: 100%; }
  .ps-cart-listing .ps-cart__promotion, .ps-cart-listing .ps-cart__total {
    width: 100%;
    min-width: 0;
    max-width: 400px;
    float: right; }
    .ps-cart-listing .ps-cart__promotion .ps-btn, .ps-cart-listing .ps-cart__total .ps-btn {
      width: 100%;
      text-align: center; } }
    
.ps-cart__table > tbody > tr > td {
  position: relative;
  vertical-align: middle !important; }
  .ps-cart__table > tbody > tr > td .ps-product__preview {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    text-transform: uppercase; }
    .ps-cart__table > tbody > tr > td .ps-product__preview:hover {
      color: #ec1d25; }
      
.ps-table--whishlist .ps-cart__table > tbody > tr > td {
  font-weight: 500;
  color: #8d8d8d; }
  
    